.wrap-text {
	overflow: visible;
	text-overflow: unset;
	word-wrap: break-word;
	overflow-wrap: break-word;
	white-space: normal;
	word-break: break-word;
}
 
.routing-card {
	display: block;
	background-color: black;	
	margin: 3% 10px !important;
	-webkit-box-shadow: 2px 1px 2px 1px;
}

.routing-item {
	margin: 1%;
	display: block;
	background-color: lightgrey;
}

.routing-img {
	margin: 0% 2%;
	width: 100px;
	height: 100px;
}

.routing-label {
	font-size: 18px;
	font-weight: bold;	
}